USE [VOTACIONES]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 28/08/2025 11:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[correo_admin] [nvarchar](150) NOT NULL,
	[contraseña_admin] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aprendiz]    Script Date: 28/08/2025 11:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aprendiz](
	[id_aprendiz] [int] IDENTITY(1,1) NOT NULL,
	[correo_aprendiz] [nvarchar](150) NOT NULL,
	[contraseña_aprendiz] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_aprendiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo_aprendiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postulados]    Script Date: 28/08/2025 11:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postulados](
	[IdPostulado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Propuestas] [varchar](100) NOT NULL,
	[Aptitudes] [varchar](100) NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
	[Jornada] [nvarchar](50) NULL,
	[Foto] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPostulado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Votos]    Script Date: 28/08/2025 11:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Votos](
	[IdVoto] [int] IDENTITY(1,1) NOT NULL,
	[IdAprendiz] [int] NOT NULL,
	[IdPostulado] [int] NULL,
	[FechaVoto] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVoto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Aprendiz] UNIQUE NONCLUSTERED 
(
	[IdAprendiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Votos] ADD  DEFAULT (getdate()) FOR [FechaVoto]
GO
ALTER TABLE [dbo].[Votos]  WITH CHECK ADD  CONSTRAINT [FK_Voto_Aprendiz] FOREIGN KEY([IdAprendiz])
REFERENCES [dbo].[Aprendiz] ([id_aprendiz])
GO
ALTER TABLE [dbo].[Votos] CHECK CONSTRAINT [FK_Voto_Aprendiz]
GO
ALTER TABLE [dbo].[Votos]  WITH CHECK ADD  CONSTRAINT [FK_Voto_Postulado] FOREIGN KEY([IdPostulado])
REFERENCES [dbo].[Postulados] ([IdPostulado])
GO
ALTER TABLE [dbo].[Votos] CHECK CONSTRAINT [FK_Voto_Postulado]
GO
